<nav class="navbar navbar-expand bar">
  <div class="navbar-collapse">
    <h4 class="nav-title">To Do</h4>
  </div>
</nav>

  <mat-drawer-container class="drawer container-fluid">
    <button mat-button class="show-lists" type="button" 
      (click)="drawer.toggle();listsShown=!listsShown">
      {{listsShown ? "Hide Lists" : "Show Lists"}}
    </button>
    <mat-drawer #drawer class="sidenav" mode="side">
      <app-lists></app-lists>
    </mat-drawer>
    <div class="tasklist-content">
      <app-tasklist></app-tasklist>
    </div>
  </mat-drawer-container>