<div class="lists">

  <h1> Lists </h1>
  
  <form (ngSubmit)="onSubmit(newListForm)" #newListForm="ngForm">
    <div class="form-group row">
      <div class="col-sm-8">
        <input ngModel required type="text" class="form-control" id="list" placeholder="Add New List" name="title" />
      </div>
      <div class="col-sm-4">
        <button [disabled]="newListForm.invalid" id="submitButton" type="submit" class="btn btn-primary">+</button>
      </div>
    </div>
  </form>
  
  <div class="container col">

    <div *ngFor="let l of lists; index as i" (click)="onListSelect(i)" class="list-item row" [class.selected-list]="selectedListIdx === i">
      <div class="col-md-10">
        {{ l.title }}
      </div>
    <div class="col-md-2">
      <ng-container *ngIf="selectedListIdx === i">
          <span class="trash-can bi bi-trash" (click)="deleteList()" ></span>
      </ng-container>
    </div>
  </div>
  </div>
  <!-- ref: https://material.angular.io/components/paginator/examples -->
  
  <mat-paginator #paginator
  class="demo-paginator"
  (page)="handlePageEvent($event)"
  [disabled]="false"
  [showFirstLastButtons]="true"
  aria-label="Select page"
  [hidePageSize]="true"
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  >
</mat-paginator>

</div>
