h1 {
    text-align: center;
    font-size: 2rem;
}

.lists-container{
    margin-top: 20px;
}

.lists-container .col{
    margin-bottom: 20px;
}

.list-item{
    /* background-color: #89CFF0; */
    padding: 10px;
    cursor: pointer;
}

.list-item:hover:not(.selected-list){
    /* background-color: #6dbee3; */
    background-color: #f1f0f0;
}

.selected-list{
    /* background-color: #318CE7; */
    background-color: #ccc;
    cursor: default;
}

.trash-can{
    font-size: 20px; 
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.trash-can:hover {
    color: rgb(131, 8, 8);
}   

