
.lists{
    height: min-content;
    margin: 20px 20px 50px 20px;
}

.lists .col{
    margin-bottom: 20px;
}

.list-item{
    background-color: #89CFF0;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

.selected-list{
    background-color: #318CE7;
    cursor: default;
}

.trash-can{
    font-size: 20px; 
    color: rgb(0, 0, 0);
    height: 30px;
    cursor: pointer;
}