h1 {
  text-align: center;
  font-size: 2rem;
}

.container {
  max-width: 800px;
  margin-top: 50px;
  box-shadow: 20px 20px 50px grey;
  padding: 10px;
}
  
.table {
  width: 100%;
}
  
.table thead tr {
  justify-content: center;
}

.table tbody tr {
  justify-content: center;
}

.table th {
  background-color: rgba(30, 143, 255, 0.519);
  font-weight: bold;
}

.table th,
.table td {
  padding: 10px;
}

.toggle-completed {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}


