<div class="container">

    <h1>Task List</h1>
    
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Add Task : </label>
            <input ngModel required type="text" class="form-control" id="task" placeholder="Task Description" name="description" />
            <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Task Id</th>
                <th scope="col">Description</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Is Completed</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tasks; index as i">
                <td>{{t.id}}</td>
                <td>{{t.description}}</td>
                <td>{{t.createdAt}}</td>
                <td><input (change)="onCheck(i)" [checked]="t.isCompleted" class="toggle-completed" type="checkbox"></td>
                <td><button (click)="onDelete(i)" type="button" class="btn-close" aria-label="Close"></button></td>
            </tr>
        </tbody>
    </table>
</div>