h1 {
  text-align: center;
  font-size: 2rem;
}

mat-header-cell {
  justify-content: space-around;
}

mat-header-row {
  background-color: #B3D9FF;
}

.filter-tasks{
  margin-top: 15px;
}

.filter-tasks .btn{
  margin-left: 5px;
}

.mat-column{
  align-items: center;
}

.mat-column-description {
  text-align: center;
  flex: 1 1 30%;
}

.toggle-completed {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}


/* ref: https://material.angular.io/cdk/drag-drop/overview */

.task-table {
  margin-top: 20px;
  width: 500px;
  max-width: 100%;
  border: solid 2px #ccc;
  min-height: 60px;
  display: block;
  background: #E6F3FF;
  border-radius: 4px;
  overflow: hidden;
}

.table-cell {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  cursor: move;
  background: #CCE5FF;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12); 
}

.cdk-drag-placeholder {
  opacity: 0;
}

/* glitching

.task-dragging:not(.cdk-drag-placeholder){
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-table.cdk-drop-list-dragging .table-cell:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

 */
